.bottom-nav {
    position: fixed;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 520px;
    height: 64px;
    
    background: #1E1E1E;border-radius: 999px;

    display: flex;
    align-items: center;

    padding: 6px;
    gap: 6px;

    z-index: 100;
}

.nav-item {
    flex: 1;
    height: 100%;
    background: transparent;
    border: none;

    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    
    cursor: pointer;
    z-index: 2;
}

.nav-item.active {
  color: #ffffff;
}

.active-indicator {
  position: absolute;
  top: 6px;
  left: 6px;

  width: calc(25% - 6px);
  height: calc(100% - 12px);

  background: #A09570;
  border-radius: 999px;

  transition: transform 0.3s ease;
  z-index: 1;
}
