* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #000000; /* preto*/
  color: #ffffff;
  
  min-height: 100vh;
  background-image: url("/src/assets/bg-desktop.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* MOBILE */
@media (max-width: 768px) {
  body {
    background-image: url("/src/assets/bg-mobile.jpg");
    background-attachment: scroll;
  }
}
