.title-home {
    font-size: 1rem;
    font-weight: bold;
    color: #A09570;
    text-align: center;
    margin-top: 20px;
}

.subtitle-home {
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-top: 2px;
}