.title-home {
    font-size: 1rem;
    font-weight: medium;
    color: #A09570;
    text-align: center;
    margin-top: 25px;
}

.subtitle-home {
    font-size: 0.9rem;
    font-weight: medium;
    color: #ffffff;
    text-align: center;
    margin-top: 2px;
}

.Logo {
  display: block;
  margin: 40px auto 0 auto;

  width: 50px;
  max-width: 50%;
  height: auto;
  position: center;
}

@media (min-width: 768px) {
  .Logo {
    width: 240px;
  }
}


