.title-home {
    font-size: 1rem;
    font-weight: medium;
    color: #A09570;
    text-align: center;
    margin-top: 25px;
}

.subtitle-home {
    font-size: 0.9rem;
    font-weight: medium;
    color: #ffffff;
    text-align: center;
    margin-top: 2px;
}

.Logo {
    width: 120px;
    height: 120px;
    margin-top: 20px;
    margin-bottom: 10px;
}


